common: {
  packages: {
    git: ">=1.8.3"
    maven: "==3.3.9"
  }
  timelimit: "30:00"
}

test: ${common} {
  environment : {
    JAVA_HOME : ../.graalvm
  }
  setup: [
    [curl, -L, "https://github.com/oracle/graal/releases/download/vm-19.0.0/graalvm-ce-linux-amd64-19.0.0.tar.gz", -o, "graalvm.tgz"]
    [tar, fxz, "graalvm.tgz"]
    [mv, graalvm-*ce*, .graalvm]
  ]
  run: [
    [cd, archetype]
    [mvn, install]
    [grep, "version>.*-SNAPSHOT./version", "pom.xml", "||", mvn, clean, package, source:jar, javadoc:jar, gpg:sign, deploy]
  ]
  timelimit: "45:00"
}

gate: {capabilities: [linux, amd64], targets: [gate]}

builds = [
  ${test} ${gate} {name: test-linux-amd64}
]
